.ribbonContainer {
    overflow: auto; 
    background-color: #FEFEFE; border-bottom: 1px solid White; 
    font-family: Tahoma, Arial; font-size: 12px;
}
.ribbonPanel {
    float: left; overflow: auto; 
    background-color: #FEFEFE; border-right: 1px solid #c0c0c0; 
}
.ribbonHeader {
    background-color: #EFEFEF; color: #3E4B54; 
    padding: 5px;
}
.ribbonCommandsArea {
    padding: 2px 3px;
}
.ribbonCommand {
    float: left; margin: 4px;
}
.ribbonCommand img {
    border: 0px;
}

/* Overrides */
body {
    margin: 0;
}
input {
    font-size: 12px;
}

/* Dark theme */
.dark input {
    color: white;
    background-color: black;
}
.dark input:disabled {
    color: gray;
}
.dark input:focus {
    color: black;
    background-color: white;
}
.grid-item:hover {
    background-color: #eee;
}
