.container {
    font-family: Calibri;
    font-variant: small-caps;
    font-size: 16px;
    color: #346;
}
.selectedItem {
    background-color: #e0e0ff;
}
.cell input[type="text"] {
    height: 24px;
    margin: 2px;
    margin-bottom: 6px;
    border-radius: 4px;
    padding: 4px 6px;
    line-height: 22px;
    font-family: Calibri;
    font-size: 16px;
    color: #555;
}
.cell input[type="text"]:focus {
    box-shadow: 0px 1px 0px 0px #78c;
}
.toggleButton {
    fill: #80a0e0;
}
.toggleButtonHovering {
    fill: #b0c0f0;
}
.standardBar {
    fill: #b0c0f0;
    fill-opacity: 0.75;
    stroke: #b0c0f0;
}
.darkBar {
    fill: #7080c0;
    stroke: #7080c0;
}
.assignments {
    font-variant: normal;
    font-size: 15px;
    fill: #7080c0;
}
.dependencyLine {
    stroke: #b0c0f0; 
    stroke-width: 0.75px; 
    marker-end: url(#ArrowMarker);
    fill: none;
}
.baselineBar {
    stroke: #b0c0f0;
    stroke-opacity: 0.25;
    fill: Transparent;
}
.alternativeGridItem {
    background-color: #f8f8f8;
}
.alternativeGridItem-dark {
    background-color: #111111;
}
.alternativeGridItem-steel {
    background-color: #b9cedf;
}
.alternativeChartItem {
    fill: #f0f0f0;
    fill-opacity: 0.5;
}
.alternativeChartItem-dark {
    background-color: #111111;
}

/* Overrides */
body {
    margin: 0;
}
input {
    font-size: 12px;
}

/* Dark theme */
.dark input {
    color: white;
    background-color: black;
}
.dark input:disabled {
    color: gray;
}
.dark input:focus {
    color: black;
    background-color: white;
}
