.nav-secondary .module.widget-handle.left {
    margin-right: 8px;
}
.theme-menu-item {
    width: 160px;
}
.technology-menu-item {
    width: 140px;
}
.selected-menu-item {
    opacity: 1 !important;
}
.sample {
    width: 100%;
    height: 688px;
}
pre {
    width: 4000px;
    margin: 0;
    margin-bottom: 16px;
    border-width: 0;
    padding: 4px;
}
