.nav-secondary .module.widget-handle.left {
    margin-right: 8px;
}
.theme-menu-item {
    width: 112px;
}
.technology-menu-item {
    width: 128px;
}
.sample {
    width: 100%;
    height: 685px;
}
pre {
    width: 4000px;
    margin: 0;
    margin-bottom: 16px;
    border-width: 0;
    padding: 4px;
}
