<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.5.6" targetFramework="net452" />
  <package id="DlhSoft.GanttChartHyperLibrary" version="5.3.15.2" targetFramework="net452" />
  <package id="DlhSoft.GanttChartLightLibrary" version="4.3.39.3" targetFramework="net452" />
  <package id="DlhSoft.HierarchicalDataLightLibrary" version="4.0.9.1" targetFramework="net452" />
  <package id="DlhSoft.ProjectManagementFramework" version="5.0.5.12" targetFramework="net452" />
  <package id="DlhSoft.UndoManagementLibrary.JavaScript" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
</packages>