<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DlhSoft.ProjectData.Core" publicKeyToken="6071b28da0134838" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.7.4" newVersion="5.0.7.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DlhSoft.ProjectData.GanttChart.LightWPF.Controls" publicKeyToken="6071b28da0134838" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.45.13" newVersion="4.3.45.13" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DlhSoft.HierarchicalData.LightWPF.Controls" publicKeyToken="6071b28da0134838" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.4" newVersion="4.0.10.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>