<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Gantt Chart sample</title>
    <!-- Angular framwork. -->
    <script src="Scripts/angular.min.js"></script>
    <!-- DlhSoft Gantt Chart component references. TypeScript definitions: Scripts/DlhSoft.ProjectData.GanttChart.HTML.Controls.d.ts. -->
    <script src="Scripts/DlhSoft.Data.HTML.Controls.js"></script>
    <script src="Scripts/DlhSoft.ProjectData.GanttChart.HTML.Controls.js"></script>
    <script src="Scripts/DlhSoft.ProjectData.GanttChart.HTML.Controls.Extras.js"></script>
    <script src="Scripts/DlhSoft.ProjectData.GanttChart.Angular.Directives.js"></script>
    <!-- Sample application code and style references. TypeScript: app.ts. -->
    <link rel="stylesheet" href="app.css" type="text/css"/>
    <script src="licensing.js"></script>
    <script src="templates.js"></script>
    <script src="themes.js"></script>
    <script src="app.js"></script>
</head>
<!-- Sample application user interface. -->
<body ng-app="GanttChartViewSample" ng-controller="MainController">
    <!-- Application commands -->
    <div class="ribbonContainer">
        <div class="ribbonPanel">
            <div class="ribbonHeader">Items</div>
            <div class="ribbonCommandsArea">
                <div class="ribbonCommand"><a href="javascript://" ng-click="addNewItem()" title="Add new item"><img src="Images/AddNew.png" alt="Add new"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="insertNewItem()" title="Insert new item before selection"><img src="Images/InsertNew.png" alt="Insert new"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="decreaseItemIndentation()" title="Decrease selected item indentation"><img src="Images/DecreaseIndentation.png" alt="Increase indentation"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="increaseItemIndentation()" title="Increase selected item indentation"><img src="Images/IncreaseIndentation.png" alt="Increase indentation"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="deleteItem()" title="Delete selected item"><img src="Images/Delete.png" alt="Delete selected item"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="setCustomBarColorToItem()" title="Set custom bar color to selected item"><img src="Images/SetColor.png" alt="Set color"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="copyItem()" title="Copy selected item"><img src="Images/Copy.png" alt="Copy"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="pasteItem()" title="Paste after selected item"><img src="Images/Paste.png" alt="Paste"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="moveItemUp()" title="Move selected item up"><img src="Images/MoveUp.png" alt="Move up"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="moveItemDown()" title="Move selected item down"><img src="Images/MoveDown.png" alt="Move down"/></a></div>
            </div>
        </div>
        <div class="ribbonPanel">
            <div class="ribbonHeader">Timeline/Schedule</div>
            <div class="ribbonCommandsArea">
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="setCustomScales()" title="Set custom scales"><img src="Images/CustomScales.png" alt="Custom scales"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="zoomIn()" title="Zoom in"><img src="Images/ZoomIn.png" alt="Zoom in"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="decreaseTimelinePage()" title="Move towards past"><img src="Images/DecreaseTimelinePage.png" alt="Decrease timeline page"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="increaseTimelinePage()" title="Move towards future"><img src="Images/IncreaseTimelinePage.png" alt="Increase timeline page"/></a></div>
            </div>
        </div>
        <div class="ribbonPanel">
            <div class="ribbonHeader">Project tools</div>
            <div class="ribbonCommandsArea">
                <div class="ribbonCommand toggle {{ settings.isBaselineVisible ? 'pressed' : null }}"><a href="javascript://" ng-click="toggleBaseline()" title="Hide/display baseline"><img src="Images/Baseline.png" alt="Baseline"/></a></div>
                <div class="ribbonCommand toggle {{ isCriticalPathTogglePressed ? 'pressed' : null }}" ><a href="javascript://" ng-click="highlightCriticalPath()" title="Highlight/refresh critical path"><img src="Images/CriticalPath.png" alt="Critical path"/></a></div>
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="splitRemainingWork()" title="Split work upon completion point in order to be able to reschedule remaining work separately"><img src="Images/SplitRemainingWork.png" alt="Split remaining work"/></a></div>
                <div class="ribbonCommand toggle {{ isAutoScheduling ? 'pressed' : null }}"><a href="javascript://" ng-click="toggleAutoScheduling()" title="Disable/enable automatic scheduling"><img src="Images/DependencyConstraints.png" alt="Dependency constraints"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="levelResources()" title="Level resources"><img src="Images/LevelResources.png" alt="Level resources"/></a></div>
            </div>
        </div>
        <div class="ribbonPanel">
            <div class="ribbonHeader">XML and printing</div>
            <div class="ribbonCommandsArea">
                <div class="ribbonCommand" ng-if="!usingDatabase"><a href="javascript://" ng-click="loadProjectXml()" title="Import Project XML content"><img src="Images/LoadProjectXml.png" alt="Import Project XML"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="saveProjectXml()" title="Export Project XML content"><img src="Images/SaveProjectXml.png" alt="Export Project XML"/></a></div>
                <div class="ribbonCommand"><a href="javascript://" ng-click="print()" title="Print"><img src="Images/Print.png" alt="Print"/></a></div>
            </div>
        </div>
        <!-- Database mode is only available in the offline sample as it requires WebAPI access. -->
        <div class="ribbonPanel" ng-if="false">
            <div class="ribbonHeader">Database</div>
            <div class="ribbonCommandsArea">
                <div class="ribbonCommand"><a href="javascript://" ng-click="loadItemsFromDatabase()" title="Load items from an SQL Server database using Web API calls; Changes are saved automatically back to the data source"><img src="Images/LoadItemsFromDatabase.png" alt="Load items from database"/></a></div>
            </div>
        </div>
    </div>
    <!-- Gantt Chart component. -->
    <div ds:gantt-chart id="ganttChartView"
         items="items" settings="settings"
         change="onItemChanged" auto-refresh="{{ true }}"
         style="min-height: 388px">
    </div>
    <!-- Extra panels -->
    <div ng-show="isLoadProjectXmlPanelVisible">
        <div class="extraPanel">
            <div class="extraPanelCommandsArea">
                <div><a href="javascript://" ng-click="closeLoadProjectXml()">Close</a></div>
            </div>
            <div class="extraPanelHeader">Import Project XML</div>
            <div class="extraPanelContent" style="margin: 4px 0px 4px 0px">
                Enter/paste Project XML content to load:
                <div style="margin: 4px 0px 4px 0px">
                    <textarea ng-model="loadProjectXmlInput" spellcheck="false" cols="120" rows="4"></textarea>
                </div>
                <a id="loadProjectXmlButton" href="javascript:" ng-click="loadProjectXmlContent()" title="Load Project XML content">Load</a>
            </div>
        </div>
    </div>
    <div ng-show="isSaveProjectXmlPanelVisible">
        <div class="extraPanel">
            <div class="extraPanelCommandsArea">
                <div><a href="javascript://" ng-click="closeSaveProjectXml()">Close</a></div>
            </div>
            <div class="extraPanelHeader">Export Project XML</div>
            <div class="extraPanelContent" style="margin: 4px 0px 4px 0px">
                View/copy Project XML content:
                <div style="margin: 4px 0px 4px 0px">
                    <textarea ng-bind="saveProjectXmlOutput" readonly="readonly" cols="120" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
