.ribbonContainer {
    overflow: auto; 
    background-color: #909090; border-bottom: 1px solid White; 
    font-family: Tahoma, Arial; font-size: 12px;
}
.ribbonPanel {
    float: left; overflow: auto; 
    background-color: #a0a0a0; border-right: 1px solid #c0c0c0; 
}
.ribbonHeader {
    background-color: #808080; color: white; 
    padding: 5px;
}
.ribbonCommandsArea {
    padding: 2px 3px;
}
.ribbonCommand {
    float: left; margin: 4px;
}
.ribbonCommand img {
    border: 0px;
}
.ribbonContainer .content {
    color: white;
    display: inline-block;
    margin: 8px;
    padding: 10px;
}

/* Overrides */
body {
    margin: 0;
}
input {
    font-size: 12px;
}

/* Dark theme */
.dark input {
    color: white;
    background-color: black;
}
.dark input:disabled {
    color: gray;
}
.dark input:focus {
    color: black;
    background-color: white;
}
.extraPanel {
    background-color: #a0a0a0; border-bottom: 1px solid White;
    color: White; font-family: Tahoma, Arial; font-size: 12px;
}
.extraPanel {
    background-color: #a0a0a0; border-bottom: 1px solid White;
    color: White; font-family: Tahoma, Arial; font-size: 12px;
}
.extraPanelHeader {
    background-color: #808080; padding: 6px;
}
.extraPanelContent {
    padding: 1px 6px;
    color: Black;
}
.extraPanelCommandsArea {
    float: right; padding: 5px 6px;
}
.extraPanel a {
    color: White;
}
